* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5px 1fr 1fr 1fr 1fr 1fr 5px;
    grid-template-rows: 5px 100px 100px 100px 100px 100px 5px;
    grid-template-areas:
    ". . . . . . ."
    ". heading heading heading heading heading ."
    ". number1 number1 number1input number1input number1input ."
    ". number2 number2 number2input number2input number2input ."
    ". addition subtraction multiplication divide reset ."
    ". result result result result result  ."
    ". . . . . . .";
    
}

#main {
    /* border-radius: 55px; */
    /* background-color: violet; */
}

#main > div {
    background-color: silver;
    border: 3px solid white;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 5px;
    
}

#main input {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    border: white;
}

h1 {
    height: 100px;
    display: flex;
    /* grid-area: heading; */
    justify-content: center;
    align-items: center;
}

#number1 {
    grid-area: number1;
}
#number2 {
    grid-area: number2;
}
#number1input {
    grid-area: number1input;
}
#number2input {
    grid-area: number2input;
}
#add {
    grid-area: addition;
}
#subtract {
    grid-area: subtraction;
}
#multiply {
    grid-area: multiplication;
}
#divide {
    grid-area: divide;
}
#reset {
    grid-area: reset;
}
#result {
    grid-area: result;
    font-size: 4em;
}
.nupud:hover{
    cursor: pointer;
    background-color: whitesmoke !important;
}