
body {
    background: gainsboro;
}
h1 {
    font-size: 30px;
    text-transform: uppercase;
}
h2 {
    font-size: 1.5em;
    text-decoration: underline;
}
p {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}
p:first-of-type {
    color: rgb(1, 96, 109);
    columns: 2;
}
img {
    border-radius: 10px;
}

* {
    font-family: Helvetica;
    line-height: 1.4em;
}


table {
    width: 80%;
    clear: both;
    background-color: rgba(206, 206, 206, 0.815);
    border-style: dashed;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
}
td {
    clear: both;
    padding: 10px;
    border-style: dotted;
    border-width: 1px;
}

tr:nth-child(even){
    background-color: silver;
}
col:first-child{
    background-color: silver;
    text-align: center;
}

.vesselType{
    background-color: rgb(214, 214, 214);
    text-align: center;

}